###Final Project

Import Modules and Create Database

In [1]:
#Import pandas, sqlite3,
import pandas as pd
import sqlite3

# Load the sql Jupyter extention needed for %sql magic.
%load_ext sql

In [2]:
%sql sqlite:///Track.db

'Connected: None@Track.db'

##Create DDL for Database

In [3]:
%%sql

DROP TABLE IF EXISTS ATHLETE;
DROP TABLE IF EXISTS RACE;
DROP TABLE IF EXISTS YEAR;
DROP TABLE IF EXISTS SEED;
DROP TABLE IF EXISTS SCHOOL;
DROP TABLE IF EXISTS PERFORMANCE;

CREATE TABLE ATHLETE (
    AthleteID INTEGER PRIMARY KEY,
    First_Name TEXT NOT NULL,
    Last_Name TEXT NOT NULL,
    Gender TEXT NOT NULL
);

CREATE TABLE RACE (
    RaceID INTEGER PRIMARY KEY,
    Event TEXT NOT NULL
);


CREATE TABLE YEAR (
    YearID INTEGER PRIMARY KEY,
    Year TEXT 
);
 
CREATE TABLE SEED (
    SeedID INTEGER PRIMARY KEY,
    Seed NUMERIC NOT NULL
);

 
CREATE TABLE SCHOOL (
    SchoolID INTEGER PRIMARY KEY,
    School TEXT
);


CREATE TABLE PERFORMANCE (
    AthleteID INTEGER,
    RaceID INTEGER,
    YearID INTEGER,
    SeedID INTEGER,
    SchoolID INTEGER,
    FOREIGN KEY (AthleteID) REFERENCES ATHLETE (AthleteID),
    FOREIGN KEY (RaceID) REFERENCES RACE (RaceID),
    FOREIGN KEY (YearID) REFERENCES YEAR (YearID),
    FOREIGN KEY (SeedID) REFERENCES SEED (SeedID),
    FOREIGN KEY (SchoolID) REFERENCES SCHOOL (SchoolID)
);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%sql pragma table_info('RACE');

Done.

[(0, 'RaceID', 'INTEGER', 0, None, 1), (1, 'Event', 'TEXT', 1, None, 0)]

In [5]:
%sql pragma table_info('ATHLETE');

Done.

[(0, 'AthleteID', 'INTEGER', 0, None, 1),
 (1, 'First_Name', 'TEXT', 1, None, 0),
 (2, 'Last_Name', 'TEXT', 1, None, 0),
 (3, 'Gender', 'TEXT', 1, None, 0)]

In [6]:
%sql pragma table_info('YEAR');

Done.

[(0, 'YearID', 'INTEGER', 0, None, 1), (1, 'Year', 'TEXT', 0, None, 0)]

In [7]:
%sql pragma table_info('SEED');

Done.

[(0, 'SeedID', 'INTEGER', 0, None, 1), (1, 'Seed', 'NUMERIC', 1, None, 0)]

In [8]:
%sql pragma table_info('SCHOOL');

Done.

[(0, 'SchoolID', 'INTEGER', 0, None, 1), (1, 'School', 'TEXT', 0, None, 0)]