In [1]:
#Import pandas, sqlite3,
import pandas as pd
import sqlite3
import sqlalchemy
from urllib.request import urlretrieve
from urllib.request import urlopen
from io import StringIO
import csv

# Load the sql Jupyter extention needed for %sql magic.
%load_ext sql

In [2]:
%sql sqlite:///Track.db

'Connected: None@Track.db'

In [3]:
TRACKDATA=pd.read_csv('MASTERDATASHEET.csv',encoding='latin1')

In [4]:
print(TRACKDATA)

     First_Name         Last_Name    Event Year              School     Seed  \
0        Karisa            Nelson  EW 1.5K   JR             Samford  04:10.9
1        Elinor           Purrier  EW 1.5K   JR       New Hampshire  04:11.9
2         Hanna             Green  EW 1.5K   SR       Virginia Tech  04:12.3
3     Rhianwedd             Price  EW 1.5K   JR          Miss State  04:13.8
4         Angel        Piccirillo  EW 1.5K   SR           Villanova  04:14.1
5        Millie          Paladino  EW 1.5K   JR          Providence  04:14.8
6         Megan              Moye  EW 1.5K   SR            NC State  04:15.6
7      Danielle            Aragon  EW 1.5K   SR          Notre Dame  04:15.7
8         Danae            Rivers  EW 1.5K   FR          Penn State  04:16.3
9       Jessica            Harris  EW 1.5K   SO          Notre Dame  04:16.6
10      Frances          Schmiede  EW 1.5K   SR                Yale  04:17.5
11        Agnes               Abu  EW 1.5K   SR       Mid. Tenn. St  04:17.8
12       Jaimie            Phelan  EW 1.5K   JR            Michigan  04:17.8
13       Annika            Sisson  EW 1.5K   JR         Stony Brook  04:17.8
14       Ashley        Montgomery  EW 1.5K   SR                Penn  04:17.9
15        Helen  Schlachtenhaufen  EW 1.5K   SR           Dartmouth  04:18.2
16        Jamie         Morrissey  EW 1.5K   JR            Michigan  04:18.3
17        Erika              Kemp  EW 1.5K   JR            NC State  04:18.4
18       Nicole        Hutchinson  EW 1.5K   SO           Villanova  04:18.5
19    Alexandra             Lucki  EW 1.5K   JR            Maryland  04:18.9
20       Shelby             Brown  EW 1.5K   JR            Ole Miss  04:19.1
21      Shannon           Murdock  EW 1.5K   SO       New Hampshire  04:19.1
22      Heather           MacLean  EW 1.5K   JR       UMass Amherst  04:19.2
23      Aynslee         Van Graan  EW 1.5K   JR    Coastal Carolina  04:19.6
24       Taylor             Tubbs  EW 1.5K   SR             Florida  04:19.6
25      Kaitlin             Hanss  EW 1.5K   SR           Princeton  04:19.7
26        Grace           Barnett  EW 1.5K   JR             Clemson  04:19.9
27           S.      Brooke Moore  EW 1.5K   SO       Indiana State  04:20.0
28    Christine        Bendzinski  EW 1.5K   JR            Bucknell  04:20.1
29        Ffion             Price  EW 1.5K   SR          Miss State  04:20.6
...         ...               ...      ...  ...                 ...      ...
2278      Ethan             Moehn  CCM 10K   JR            Arkansas  32:05.4
2279       Noah          Kauppila  CCM 10K   SR           Princeton  32:05.8
2280     Andrew              Bull  CCM 10K   SR             Alabama  32:06.3
2281       Eric             Kroon  CCM 10K   JR               Texas  32:06.8
2282       Noah              Gade  CCM 10K   SR      Oklahoma State  32:09.6
2283    Kenneth             Hagen  CCM 10K   JR            Virginia  32:09.8
2284    Gabriel          Collison  CCM 10K   SR                Navy  32:13.2
2285       Paul              Ryan  CCM 10K   SO      Washington St.  32:14.1
2286    Patrick            Reilly  CCM 10K   SR              Lehigh  32:20.0
2287     Iliass            Aouani  CCM 10K   JR            Syracuse  32:21.3
2288       Josh             Hanna  CCM 10K   SR                Navy  32:22.6
2289     Daniel              Sims  CCM 10K   JR      Michigan State  32:29.9
2290     Johnny              Pace  CCM 10K   SO            Virginia  32:33.8
2291     Philip              Hall  CCM 10K   JR  North Carolina St.  32:34.5
2292      Garek         Bielaczyc  CCM 10K   SO               Texas  32:34.7
2293       Evan             Prizy  CCM 10K   SR             Alabama  32:40.0
2294     Andrew             Rafla  CCM 10K   JR         Boise State  32:40.7
2295   Wolfgang              Beck  CCM 10K   SR           Princeton  32:42.2
2296      James          Brinyark  CCM 10K   SO             Alabama  32:59.6
2297    Geoffry         Cheruiyot  CCM 10K   SR    Mid. Tenn. State  33:09.2
2298      Gavin           Parpart  CCM 10K   FR          Washington  33:16.9
2299      Jacob          Shewbert  CCM 10K   SO                Navy  33:19.4
2300       Jake            Finney  CCM 10K   JR      Washington St.  33:26.2
2301      Jacob           Bilvado  CCM 10K   JR           Air Force  33:43.8
2302      Brody             Smith  CCM 10K   FR          Utah State  34:50.1
2303     Nathan              Mack  CCM 10K   SO    Mid. Tenn. State  35:14.8
2304     Hlynur         Andresson  CCM 10K   SR    Eastern Michigan      DNF
2305    Michael             Karls  CCM 10K   JR                Navy      DNF
2306      James              West  CCM 10K   JR              Oregon      DNF
2307    Charles             Mills  CCM 10K   JR               Texas      DNF

     Gender
0         F
1         F
2         F
3         F
4         F
5         F
6         F
7         F
8         F
9         F
10        F
11        F
12        F
13        F
14        F
15        F
16        F
17        F
18        F
19        F
20        F
21        F
22        F
23        F
24        F
25        F
26        F
27        F
28        F
29        F
...     ...
2278      M
2279      M
2280      M
2281      M
2282      M
2283      M
2284      M
2285      M
2286      M
2287      M
2288      M
2289      M
2290      M
2291      M
2292      M
2293      M
2294      M
2295      M
2296      M
2297      M
2298      M
2299      M
2300      M
2301      M
2302      M
2303      M
2304      M
2305      M
2306      M
2307      M

[2308 rows x 7 columns]

In [5]:
%%sql
DROP TABLE IF EXISTS TRACKDATA;
CREATE TABLE TRACKDATA (
   MasterID INTEGER PRIMARY KEY,
    RaceID INTEGER,
    AthleteID INTEGER,
    SchoolID INTEGER,
    SeedID INTEGER,
    YearID INTEGER,
    Event TEXT NOT NULL,
    Year TEXT,
    Seed NUMERIC NOT NULL,
    School TEXT,
    First_Name TEXT NOT NULL,
    Last_Name TEXT NOT NULL,
    Gender TEXT NOT NULL
);

Done.
Done.

[]

In [6]:
conn = sqlite3.connect('Track.db')
TRACKDATA.to_sql("TRACKDATA", conn, if_exists="append", index = False)

In [7]:
%%sql

INSERT INTO RACE 
SELECT distinct RaceID,Event
FROM TRACKDATA;

14 rows affected.

[]

In [8]:
%%sql
INSERT INTO ATHLETE 
SELECT distinct AthleteID,First_Name,Last_Name,Gender
FROM TRACKDATA;

1818 rows affected.

[]

In [9]:
%%sql
INSERT INTO SCHOOL 
SELECT distinct SchoolID,School
FROM TRACKDATA;

242 rows affected.

[]

In [10]:
%%sql
INSERT INTO SEED 
SELECT distinct SeedID,Seed
FROM TRACKDATA;

1704 rows affected.

[]

In [11]:
%%sql
INSERT INTO YEAR 
SELECT distinct YearID,Year
FROM TRACKDATA;

5 rows affected.

[]

In [12]:
#sql
#INSERT INTO PERFORMANCE
#SELECT distinct SchoolID,AthleteID,YearID,SeedID,RaceID
#from SCHOOL,ATHLETE,YEAR,SEED,RACE;

In [13]:
%sql pragma table_info('TRACKDATA');

Done.

[(0, 'MasterID', 'INTEGER', 0, None, 1),
 (1, 'RaceID', 'INTEGER', 0, None, 0),
 (2, 'AthleteID', 'INTEGER', 0, None, 0),
 (3, 'SchoolID', 'INTEGER', 0, None, 0),
 (4, 'SeedID', 'INTEGER', 0, None, 0),
 (5, 'YearID', 'INTEGER', 0, None, 0),
 (6, 'Event', 'TEXT', 1, None, 0),
 (7, 'Year', 'TEXT', 0, None, 0),
 (8, 'Seed', 'NUMERIC', 1, None, 0),
 (9, 'School', 'TEXT', 0, None, 0),
 (10, 'First_Name', 'TEXT', 1, None, 0),
 (11, 'Last_Name', 'TEXT', 1, None, 0),
 (12, 'Gender', 'TEXT', 1, None, 0)]

In [17]:
%%sql
SELECT *
FROM PERFORMANCE,RACE
WHERE
PERFORMANCE.RaceID = RACE.RaceID

Done.

[]

In [14]:
#sql
#SELECT *
#from performance;

In [15]:
#print(_)